html, body
{
    height: 100%;
    margin: 0;
}

.body_background{
    background-image:url("https://media.istockphoto.com/vectors/blue-brush-pattern-background-vector-id1295094894?k=20&m=1295094894&s=612x612&w=0&h=gs8Oe_UXiSa-VTg6fYsY2955SAQt12-gs_B0ApzHQWI=")
}

body
{
    text-align: center;
}

.img1
{
    height: 50%;
    Width: 50%;
}